<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Resources page</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Looking for help?</h1>
    <p>You will probably have a lot of questions and maybe some concerns if you're doing this right. Maybe you're 
        wondering how you can involve your new cat in family outings. Maybe you want to train your cat to do some tricks.
        There are many resources available to help you answer your questions.
    </p>
    <ul>
        <% for (let i = 0; i < help.length; i++) { %>
            <table class="center">
                
                <tr>
                <td><a href="/cats/<%=help[i].id; %>">
                <%=help[i].name; %>
            </a></td>
                <td><%=help[i].webAddress; %></td>
                <td><%=help[i].description; %></td>
            </tr>
            </table>
        <%}%>

        <a class="button" href="/cats/new_r">Add a resource</a>
    </ul>
</body>
</html>